*{
    font-family: Fredoka;
}

html, body{
    margin: 0;
    padding: 0;
}
.nav ul, .footer ul{
    margin: 0;
}
.nav li{
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.03);
    color: #fff;
    border-radius: 5px;
    border: 0.1px solid #fff;
    border-color: rgb(37, 113, 255);
    margin-right: 10px;
}
.nav li:hover{
    background-color: rgba(255, 0, 255, 0.3);
    color: black;
}
.navtop {
    justify-content: space-evenly;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}

.navtop a{
    border: 12px solid rgba(255, 0, 255, 0);
    color: #fff;
    text-decoration: none;
}
.ulbottom{
    justify-content: space-evenly;
    font-size: 30px;
    display: flex;
}
.ulbottom a{
    color: #fff;
    text-decoration: none;
    border: 12px solid rgba(255, 0, 255, 0);
}
.ulbottom li{
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: rgb(255, 0, 0);
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
}
.ulbottom li:hover{
    background-color: rgba(255, 255, 255, 0.20);
    color: rgb(255, 0, 0);
}
.img-icon{
    width: 30px;
    height: 30px;
    align-items: center;
    align-content: center;
}
.h5margin{
    display:flex;
    margin-top: 33px;
    margin-bottom: 20px;
}
.footer{
    align-items: center;
    height: 100px;
    background-color:	black;
}
body {
    color: white;
    background-color: 	#DA70D6;
    background: url(./images/siteback.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
header {
    color: white;
    background-color: black;
    height: auto;
}
.title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    align-content: center;
}
.titleresume {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    align-content: center;
}
.titleresume2 {
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    align-content: center;
}
.image {
    min-width: 200px;
    max-width: 240px;
    min-height: 220px;
    max-height: 240px;
    display: block;
     margin-left: auto;
    margin-right: auto;
     border-radius: 50%;
}
.buttondiv{
    padding: 5px;
    display: flex;
    justify-content: center;  
}
.div-invite{
    height: 120px;
    color:pink;
    font-size: 30px;
    text-align: center;
}
.actualbutton:hover{
    background-color: rgb(185, 15, 120);
    text-decoration: none;
}
.actualbutton{
    margin: 0;
    display: block;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: pink;
    font-family: Fredoka;
    color: black;
}





.galeryitem{
    margin: 30px;
}
.imgTitle{
    display:block;
    font-weight: bold;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}
.picsSection{
    display:grid;
    text-align: center;
}
.imgs {
    height: 200px;
    margin-right: 10px;
    border-radius: 5%;
}
.imagespan{
    flex-grow: 1;
}
.buttonSec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.buttonVote{
    border: 30px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightblue;
}

.buttonVote:hover{
    background-color: rgb(185, 15, 120);
    text-decoration: none;
}
.galeryitems{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}